* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.logo {
    max-width: 200px; 
    height: auto;
}

section p {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-style: bold;
    margin: 50px;
    text-indent: 60px;
    text-align: justify;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-style: bold;
    margin: 50px;
    text-indent: 60px;
    text-align: justify;
}

.brand {
    max-width: 1000px; 
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.container-members,
section h1 {
    text-align: center; /* Centraliza o título e a galeria */
    margin-bottom: 50px; /* Espaçamento entre o título e as imagens */
    font-style: bold;
    font-weight: 700; /*intensidade do texto */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaçamento entre as imagens */
    justify-content: center;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}

.member img {
    width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.member img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.member p {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-style: bold;
    margin: 50px;
    font-size: 20px;
    color: #000000;
}

.description {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-style: bold;
    padding: 10px;
    border-radius: 15px;
    font-size: 17px; /* Tamanho da fonte */
    text-align: left;
}

.description h2, h3 {
    font-family: "League Spartan", sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 0 0 10px 0;
}

.description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.description li {
    margin-bottom: 5px;
}

.description strong {
    font-weight: bold;
}

#contact .container {
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: center;
}

form input, 
form textarea,
form button {
    display: block ;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
margin-bottom: 16px;
}

form button {
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: gray;
}

input:focus textarea:focus {
    outline-color: black
}

footer {
    background-color: #000000;
    color: #ecf0f1;
    padding: 16px 0;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    text-align: center;
}

.social-container {
    flex-direction: column; /* Organiza o título e os ícones na vertical */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
}

.social-links img {
    height: 24px;
    align-items: center;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}



